/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
html{
    height : 100%;
}
body{
    font-family:'Ubuntu', sans-serif;
    background-color: #333038;
    color: #fff;
    height:100%; 
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
a {
    color : #44a4cd;
}
a:hover{
    color : #44a8cf
}
.shadow{
    box-shadow: 0 9px 12px rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.3)
}
.section-container{
    padding:30px;
}
